<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="tudo">
        <div id="conteudo">
            <!-- HEADER -->

            <!-- FIM HEADER -->
            @Html.ActionLink("Home","Index","Home")
            @Html.ActionLink("Sobre","Sobre","Home")
            @Html.ActionLink("Cadastro","Cadastro","Cliente")
            @RenderBody()
            <!-- RODAPE -->
            <div id="rodape">
                <footer>
                    <p>www.teste.com.br - Todos os direitos reservados</p>
                </footer>
            </div>
        </div>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
